<launch>
    <node name="vision" pkg="krti2024_pi" type="vision.py" args="" output="screen">
        <rosparam>
            use_sim: true
            verbose: true
            camera_index: 0

            <!-- Parameter HSV untuk simulasi -->

            target_lower_hsv: [0, 200,90]
            target_upper_hsv: [22, 255,255]
            
            target2_lower_hsv: [100, 50, 50]
            target2_upper_hsv: [130, 255, 255]
            
            target3_lower_hsv: [16, 19, 100]
            target3_upper_hsv: [42, 89, 227]
            
            target4_lower_hsv: [76, 34, 248]
            target4_upper_hsv: [107, 79, 255]
            
            target5_lower_hsv: [132, 30, 106]
            target5_upper_hsv: [175, 208, 255]
            
            target6_lower_hsv: [79, 2, 215]
            target6_upper_hsv: [126, 223, 255]

            front_fov_x: 78
            front_fov_y: 78
            down_fov_x: 78
            down_fov_y: 78
        </rosparam>
    </node>
</launch>